{% extends 'base.html.twig' %}

{% block title %}DressMeUp - Ajouter un vêtement{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

        <h1>Ajoutes un vêtement</h1>
        <div class="container">
            {{ form_start(form, {'attr': {'id': 'form_vetement'}}) }}
            <section id="add-cloth">
                <div class="cards">
                    <div id="BtnPipette">
                        <img src="/assets/img/pipette-icon.svg" alt="Supprimer un vêtement" srcset="">
                    </div>
                    <div class="cards-style">
                        <div id="pic-area" class="empty-add">
                            {# <p>Sélectionner la photo du vêtement à ajouter</p> #}
                            <div id="divcanvas">
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                        <div class="info-vetement">
                            <div>
                                <div>
                                    <p id="tag_vet" class="card-type card-data">Type de vêtement</p>
                                </div>
                                <div>
                                    <div id="colorName1">
                                        <p class="card-color card-data">Couleur 1</p><span id="color1" class="card-data"></span>
                                    </div>
                                    <div id="colorName2">
                                        <p class="card-color card-data">Couleur 2</p><span id="color2" class="card-data"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {{ form_widget(form.newColor, {'attr': {'class': 'hidden-form-field'}}) }}
                    {{ form_widget(form.nameColor, {'attr': {'class': 'hidden-form-field'}}) }}
                    {{ form_widget(form.image, {'attr': {'class': 'hidden-form-field'}}) }}
                    {{ form_widget(form.color, {'attr': {'class': 'hidden-form-field'}}) }}
                    <h4>Sélectionne ta catégorie</h4>
                    <div id="cat-selection" class="button-list">
                        <input type="radio" name="categorie" id="categorie1" class="button-tags" autocomplete="off" list>
                        <label for="categorie1" class="catBtn button-tags">Haut</label>
                        <input type="radio" name="categorie" id="categorie2" class="button-tags" autocomplete="off">
                        <label for="categorie2" class="catBtn button-tags">Bas</label>
                    </div>
                    {{ form_widget(form.type, {'attr': {'class': 'hidden-form-field'}}) }}
    
                    <h4>Choisis le type de vêtement</h4>
                    <div id="type-vetements" class="button-list">
                      <input type="radio" class="button-tags" name="type" id="type-tee-shirt" autocomplete="off" list>
                      <label class="button-tags typeBtn" for="type-tee-shirt">Tee-shirt</label>
    
                      <input type="radio" class="button-tags" name="type" id="type-sweat" autocomplete="off">
                      <label class="button-tags typeBtn" for="type-sweat">Sweat-shirt</label>
    
                      <input type="radio" class="button-tags" name="type" id="type-maille" autocomplete="off" list>
                      <label class="button-tags typeBtn" for="type-maille">Maille</label>
    
                      <input type="radio" class="button-tags" name="type" id="type-chemise" autocomplete="off">
                      <label class="button-tags typeBtn" for="type-chemise">Chemise</label>
    
                      <input type="radio" class="button-tags" name="type" id="type-gilet" autocomplete="off" list>
                      <label class="button-tags typeBtn" for="type-gilet">Gilet</label>
    
                      <input type="radio" class="button-tags" name="type" id="type-veste" autocomplete="off">
                      <label class="button-tags typeBtn" for="type-veste">Veste</label>
    
                    </div>
                    {{ form_widget(form.style, {'attr': {'class': 'hidden-form-field'}}) }}
    
                    <h4>Pour quelle occasion portes-tu ce vêtement ?</h4>
    
                    <div id="ambiance-vetements" class="button-list">
                        <input type="radio" class="button-tags" name="ambiance" id="ambiance-sortie" autocomplete="off">
                        <label class="button-tags ambBtn" for="ambiance-sortie" data-index="0">Sortie entre amis</label>
            
                        <input type="radio" class="button-tags" name="ambiance" id="ambiance-travail" autocomplete="off" >
                        <label class="button-tags ambBtn" for="ambiance-travail" data-index="1">Travail</label>
            
                        <input type="radio" class="button-tags" name="ambiance" id="ambiance-sport" autocomplete="off" >
                        <label class="button-tags ambBtn" for="ambiance-sport" data-index="2">Sport</label>
            
                        <input type="radio" class="button-tags" name="ambiance" id="ambiance-detente" autocomplete="off" >
                        <label class="button-tags ambBtn" for="ambiance-detente" data-index="3">Détente</label>
            
                        <input type="radio" class="button-tags" name="ambiance" id="ambiance-romantique" autocomplete="off" >
                        <label class="button-tags ambBtn" for="ambiance-romantique" data-index="4">Rendez-vous Romantique</label>
            
                        <input type="radio" class="button-tags" name="ambiance" id="ambiance-rien" autocomplete="off" >
                        <label class="button-tags ambBtn" for="ambiance-rien" data-index="5">Rien de prévu</label>
    
                    </div>
                    {{ form_widget(form.tagAmbiances, {'attr': {'class': 'hidden-form-field'}}) }}
                    <div id="form-control">
                        {{ form_widget(form.valider, { 'label': 'Valider', 'attr': {'class': 'button-tags'}}) }}
                        <a  href="{{ path('app_dressing') }}"><button id="btnCancel" type="button" class="button-tags">Annuler</button></a>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>
        </div>
        
       {#  {{ include('/modals/modal-dressing.html.twig') }} #}



{% endblock %}
{% block javascripts %}
    <script src="assets/js/pipette.js" type="text/javascript"></script>
    <script src="assets/js/dragAndDrop.js" type="text/javascript"></script>
    <script src="assets/js/kmeans.js" type="text/javascript"></script>
    <script src="assets/js/colorName.js" type="text/javascript"></script>
    <script src="assets/js/formAuto.js" type="text/javascript"></script>
{% endblock %}