{% extends 'base.html.twig' %}

{% block title %}DressMeUp - Profil{% endblock %}
 
{% block body %}
 <!-- PROFILE -->
   
      <section class="container">
        {% if(app.user != null)  %}
        <h1> Bienvenue {{ app.user.firstname }}</h1>
        <form id="user">
            <div>
              <div id="avatar">
                <img class="photo" src="./assets/user_avatar/{{ app.user.avatar }}" alt="photo de profile">
                {# <button type="submit"> Modifier</button> #}
              </div>
  
              <div class="user-data">
                <label> Nom </label>
                <input type="text" id="name" class="form-field" value="{{ app.user.firstname }}"></input>
              </div>
  
              <div class="user-data">
                <label> E-mail </label>
                <input type="text" id="mail" class="form-field" value="{{ app.user.email }}"></input>
              </div>
            </div>

            <div>
              <div class="user-data">
                <label> Date de naissance </label>
                {# {{ app.user.birthdate }} #}
                <input type="date" id="birthdate" class="form-field" value="{{ app.user.birthdate|date('Y-m-d') }}"></input>
              </div>
  
              <div id="genre">
                <legend>Genre</legend>
                <div>
                  <div>
                    <input type="radio" id="il" name="genre" {% if (app.user.sexe == "Il")%} checked="checked" {% endif %}>
                    <label class="button-tags" for="il">Il</label>
                  </div>
                  <div>
                    <input type="radio" id="elle" name="genre" {% if (app.user.sexe == "Elle")%} checked="checked" {% endif %}>
                    <label class="button-tags" for="elle">Elle</label>
                  </div>
                </div>
              </div>
  
              <div  class="user-data">
                <label> Bio </label>
                <textarea id="biographie" class="form-field">{{ app.user.bio }}</textarea>
              </div>
  
              <div id="submit-button">
                <button class="button-tags" id="valider" type="submit"> Enregistrer </button>
              </div>
            </div>
        </form>
        {% else %}
          
        {% endif %}
      </div>
    
{% endblock %}
